<!DOCTYPE html>
<html lang="en" ng-app="MyModule4">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../angular/angular.js"></script>
</head>
<body ng-controller="myCtrl4">

    <label>
        <input type="text" ng-model="test"/>
    </label>

    <p>{{test | currency}}</p>

    <div>
        <repeater info="naomi"></repeater>
    </div>

    Your name:
    <input type="text" ng-model="username">
    <button ng-click='sayHello()'>greet</button>
    <hr>
    {{greeting}}
</body>
</html>

<script>

    var myModule=angular.module('MyModule4',[]);

    myModule.controller('myCtrl4',function($scope){
        $scope.name='test';
        $scope.address='test';

        $scope.username = 'World';
        $scope.sayHello = function() {
            $scope.greeting = 'Hello ' + $scope.username + '!';
        };
    });

    myModule.directive('repeater',function(){
        return {
            restrict:'AE',
            scope:{},
            template:'Name: {{name}}   Address: '
        }
    })

</script>















