<!DOCTYPE html>
<html lang="en" ng-app="root">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../angular/angular.js"></script>
</head>
<body ng-controller="RootCtrl as demo">

<button ng-click="demo.addItem()">add item</button>
<ul>
    <li ng-repeat="item in demo.arr">{{item}}</li>
</ul>

<script>
    var root = angular.module('root', []);

    var RootCtrl = root.controller('RootCtrl', [Demo]);

    function Demo() {
        this.arr = [0, 1, 2, 3];
    }

    Demo.prototype.addItem = function() {
        this.arr.push(this.arr.length);
    };

</script>

</body>
</html>